<section class="section stories-section" id="stories">
  <div class="container stories-container">
    <h2 class="section-title stories-title">Success Stories</h2>
    <p class="section-subtitle stories-subtitle">
      Where Training <span class="subtitle-span">Meets Real Growth</span>
    </p>
    <ul class="stories-list">
      <li class="stories-list-item">
        <picture>
          <source
            srcset="./img/stories/stories-img1-desk.png"
            media="(min-width: 1440px)"
            width="354"
            height="152" />
          <source
            srcset="./img/stories/stories-img1-mob.png"
            width="303"
            height="152" />
          <img
            class="stories-img"
            src="./img/stories/stories-img1-mob.png"
            alt="Figure"
            width="303"
            height="152"
            loading="lazy"
        /></picture>
        <p class="stories-list-item-title">NeoHealth (Berlin)</p>
        <p class="stories-list-item-text">
          Closed €2.4M after GoHu Demo Day simulations.
        </p>
      </li>
      <li class="stories-list-item">
        <picture>
          <source
            srcset="./img/stories/stories-img2-desk.png"
            media="(min-width: 1440px)"
            width="354"
            height="152" />
          <source
            srcset="./img/stories/stories-img2-mob.png"
            width="303"
            height="152" />
          <img
            class="stories-img"
            src="./img/stories/stories-img2-mob.png"
            alt="Figure"
            width="303"
            height="152"
            loading="lazy"
        /></picture>
        <p class="stories-list-item-title">EcoBytes (Copenhagen)</p>
        <p class="stories-list-item-text">
          Pivoted their B2C model after mentor feedback, now €80K MRR.
        </p>
      </li>
      <li class="stories-list-item">
        <picture>
          <source
            srcset="./img/stories/stories-img3-desk.png"
            media="(min-width: 1440px)"
            width="354"
            height="152" />
          <source
            srcset="./img/stories/stories-img3-mob.png"
            width="303"
            height="152" />
          <img
            class="stories-img"
            src="./img/stories/stories-img3-mob.png"
            alt="Figure"
            width="303"
            height="152"
            loading="lazy"
        /></picture>
        <p class="stories-list-item-title">SkillCloud (Warsaw)</p>
        <p class="stories-list-item-text">
          Used GoHu’s financial sandbox to validate pricing, scaled to 5K paying
          users.
        </p>
      </li>
    </ul>
  </div>
</section>
